node_modules

/server/index.js
server/_assets
/public/build
preferences.arc
sam.json
sam.yaml
.env

/cypress/screenshots
/cypress/videos

/app/styles/tailwind.css

AUTHREADME.md
app/mocks/currentStocks.json